@media only screen and (max-width: 1125px) {
    .navbar {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }
    .navbar .logo {
        width: 50px;
        margin: 30px -30px;
        cursor: pointer;
    }
    .user {
        display: flex;
        align-items: center;
    }
    .user img {
        width: 30px;
        margin-left: 50px;
        cursor: pointer;
    }
    button {
        padding: 9px 25px;
        background: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        font-size: 8px;
        font-weight: bold;
        cursor: pointer;
    }
    .conteiner {
        width: 50%;
        height: 100vh;
        background: rgba(86, 86, 86, 0.3);
        backdrop-filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .info {
        width: 400px;
        color: white;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-40%);
    }
    .info h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .info p {
        color: white;
        font-size: 11px;
        margin: 20px 0;
        line-height: 18px;
    }
    .slider {
        display: flex;
        align-items: center;
        position: absolute;
        right: 12px;
        bottom: 50px;
    }
    #prev,
    #next {
        width: 30px;
        cursor: pointer;
        color: white;
        background-color: rgba(196, 9, 9, 0.05);
        border-radius: 25px;
        font-weight: bold;
    }
    .preview {
        display: flex;
        align-items: center;
        margin: 0 20px;
        background-color: #01162E;
    }
    .preview img {
        width: 40px;
        margin: 0 10px;
        opacity: 0.5;
    }
    .preview .active {
        display: block;
        border: 3px solid white;
        width: 30px;
        opacity: 1;
    }
     ::placeholder {
        color: #ccc;
    }
}

@media only screen and (max-width: 845px) {
    .navbar {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }
    button {
        padding: 9px 25px;
        background: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        font-size: 8px;
        font-weight: bold;
        cursor: pointer;
    }
    .navbar .logo {
        width: 40px;
        margin: 30px 10px;
        cursor: pointer;
    }
    #hero {
        width: 100%;
        height: 100vh;
        background-image: url(../IMG/Tbilisi.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .conteiner {
        width: 50%;
        height: 100vh;
        background: rgba(86, 86, 86, 0.3);
        backdrop-filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .info {
        width: 250px;
        color: white;
        position: absolute;
        right: 20px;
        top: 40%;
        transform: translateY(-40%);
    }
    .info h1 {
        font-size: 20px;
        letter-spacing: 5px;
    }
    .slider {
        display: flex;
        align-items: center;
        position: absolute;
        right: 16px;
        bottom: 50px;
    }
    #prev,
    #next {
        width: 20px;
        cursor: pointer;
        color: white;
        background-color: rgba(196, 9, 9, 0.05);
        border-radius: 25px;
        font-weight: bold;
    }
    .preview {
        display: flex;
        align-items: center;
        margin: 0 30px;
        background-color: #01162E;
    }
    .preview img {
        width: 20px;
        margin: 0 10px;
        opacity: 0.5;
    }
    .preview .active {
        display: block;
        border: 3px solid white;
        width: 30px;
        opacity: 1;
    }
     ::placeholder {
        color: #ccc;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        right: 0;
        z-index: 10;
    }
    button {
        padding: 9px 25px;
        background: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        font-size: 8px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 20px;
    }
    .navbar .logo {
        width: 40px;
        margin: 30px 10px;
        cursor: pointer;
    }
    #hero {
        width: 100%;
        height: 100vh;
        background-image: url(../IMG/Tbilisi.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .conteiner {
        width: 50%;
        height: 100vh;
        background: rgba(86, 86, 86, 0.3);
        backdrop-filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
    }
    .info {
        width: 150px;
        color: white;
        position: absolute;
        right: 20px;
        top: 40%;
        transform: translateY(-40%);
    }
    .info h1 {
        font-size: 15px;
        letter-spacing: 5px;
    }
    .info p {
        font-size: 9px;
    }
    .slider {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 50px;
        width: 100px;
    }
    #prev,
    #next {
        width: 10px;
        cursor: pointer;
        color: white;
        background-color: rgba(196, 9, 9, 0.05);
        border-radius: 25px;
        font-weight: bold;
    }
    .preview {
        display: flex;
        align-items: center;
        margin: 0 10px;
        background-color: #01162E;
    }
    .preview img {
        width: 25px;
        margin: -1px 2px;
        opacity: 0.5;
    }
    .preview .active {
        display: block;
        border: 3px solid white;
        width: 30px;
        opacity: 1;
    }
     ::placeholder {
        color: #ccc;
    }
}